In [1]:
import pandas as pd
import nltk
import numpy as np
import re 
import string
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier 
from sklearn.metrics import precision_recall_fscore_support as score
from sklearn.model_selection import KFold, cross_val_score

In [ ]:
9

In [2]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\EL
[nltk_data]     SONNI\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
 nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\EL
[nltk_data]     SONNI\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [4]:
wn = nltk.WordNetLemmatizer()
stopwords=nltk.corpus.stopwords.words("english")

In [5]:
TRData=pd.read_csv("train_2kmZucJ.csv")
TSData=pd.read_csv("test_oJQbWVk.csv")
label=pd.read_csv("train_2kmZucJ.csv")
# fill missing values with the previous value
TRData.fillna(method='ffill', inplace=True)
TSData.fillna(method='ffill', inplace=True)
label.fillna(method='ffill', inplace=True)
# TRData["tweet"]=TRData["tweet;;;;;;;"]
# TRData.drop("tweet;;;;;;;",axis=1 ,inplace=True)

In [6]:

print("train_dataset--->",TRData.shape)
print("test_dataset--->",TSData.shape)
print("train_dataset--->",label.shape)

train_dataset---> (7920, 3)
test_dataset---> (1953, 2)
train_dataset---> (7920, 3)

In [7]:
TRData.columns

Index(['id', 'label', 'tweet'], dtype='object')

In [8]:
TRData=TRData.drop("label",axis=1)
## convertinig each text into lower case
TRData["tweet"]=TRData["tweet"].str.lower()

In [9]:
train=TRData
train.head()

   id                                              tweet
0   1  #fingerprint #pregnancy test https://goo.gl/h1...
1   2  finally a transparant silicon case ^^ thanks t...
2   3  we love this! would you go? #talk #makememorie...
3   4  i'm wired i know i'm george i was made that wa...
4   5  what amazing service! apple won't even talk to...

In [10]:
# TSData["tweet"]=TSData["tweet;;;;;"]
# TSData.drop("tweet;;;;;",axis=1 ,inplace=True)
test=TSData
test.head()

     id                                              tweet
0  7921  I hate the new #iphone upgrade. Won't let me d...
1  7922  currently shitting my fucking pants. #apple #i...
2  7923  I'd like to puts some CD-ROMS on my iPad, is t...
3  7924  My ipod is officially dead. I lost all my pict...
4  7925  Been fighting iTunes all night! I only want th...

In [11]:
final_dataset=pd.concat([train,test],axis=0)

final_dataset.head()

   id                                              tweet
0   1  #fingerprint #pregnancy test https://goo.gl/h1...
1   2  finally a transparant silicon case ^^ thanks t...
2   3  we love this! would you go? #talk #makememorie...
3   4  i'm wired i know i'm george i was made that wa...
4   5  what amazing service! apple won't even talk to...

In [12]:
final_dataset["tweet_length"]=final_dataset["tweet"].apply(lambda x:len(x)-x.count(" "))
train["tweet_length"]=train["tweet"].apply(lambda x:len(x)-x.count(" "))
test["tweet_length"]=test["tweet"].apply(lambda x:len(x)-x.count(" "))

In [13]:
def punct(text):
    count=sum([1 for char in text if char in string.punctuation])
    return round(count/(len(text)-text.count(" ")),3)*100
final_dataset['punct%']=final_dataset["tweet"].apply(lambda x: punct(x))
train['punct%']=train["tweet"].apply(lambda x: punct(x))
test['punct%']=test["tweet"].apply(lambda x: punct(x))
final_dataset.head()

   id                                              tweet  tweet_length  punct%
0   1  #fingerprint #pregnancy test https://goo.gl/h1...           116    13.8
1   2  finally a transparant silicon case ^^ thanks t...           115    13.9
2   3  we love this! would you go? #talk #makememorie...           109    16.5
3   4  i'm wired i know i'm george i was made that wa...            96    17.7
4   5  what amazing service! apple won't even talk to...           102     4.9

In [14]:
final_dataset["tweet"] = final_dataset["tweet"].str.replace("[^a-z ]", "", regex=True)
train["tweet"] = train["tweet"].str.replace("[^a-z ]", "", regex=True)
test["tweet"] = test["tweet"].str.replace("[^a-z ]", "", regex=True)

In [15]:
def clean_text(text):
    text = "".join([word for word in text if word not in string.punctuation])
    tokens = re.split('\W+', text)
    text = [word for word in tokens if word not in stopwords]
    return text
# adding new column tweet_nostopwords which consists of tokenized tweets with no stopwords.
final_dataset['tweet_nostopwords'] = final_dataset['tweet'].apply(lambda x: clean_text(x.lower()))
train['tweet_nostopwords'] = train['tweet'].apply(lambda x: clean_text(x.lower()))
test['tweet_nostopwords'] = test['tweet'].apply(lambda x: clean_text(x.lower()))

final_dataset.head()

,id,tweet,tweet_length,punct%,tweet_nostopwords
0,1,fingerprint pregnancy test httpsgooglhmfqv and...,116,13.8,"[fingerprint, pregnancy, test, httpsgooglhmfqv..."
1,2,finally a transparant silicon case thanks to ...,115,13.9,"[finally, transparant, silicon, case, thanks, ..."
2,3,we love this would you go talk makememories un...,109,16.5,"[love, would, go, talk, makememories, unplug, ..."
3,4,im wired i know im george i was made that way ...,96,17.7,"[im, wired, know, im, george, made, way, iphon..."
4,5,what amazing service apple wont even talk to m...,102,4.9,"[amazing, service, apple, wont, even, talk, qu..."

In [16]:
# function for converting tokenized tweets into lemmatized tweets.
def lemmatizing(tokenized_text):
    text =" ".join (  [wn.lemmatize(word) for word in tokenized_text]  )
    return text

# adding new column tweet_lemmatized which consists of lemmatized tweets.
final_dataset['tweet_lemmatized'] = final_dataset['tweet_nostopwords'].apply(lambda x: lemmatizing(x))
train['tweet_lemmatized'] = train['tweet_nostopwords'].apply(lambda x: lemmatizing(x))
test['tweet_lemmatized'] = test['tweet_nostopwords'].apply(lambda x: lemmatizing(x))

final_dataset.head()

,id,tweet,tweet_length,punct%,tweet_nostopwords,tweet_lemmatized
0,1,fingerprint pregnancy test httpsgooglhmfqv and...,116,13.8,"[fingerprint, pregnancy, test, httpsgooglhmfqv...",fingerprint pregnancy test httpsgooglhmfqv and...
1,2,finally a transparant silicon case thanks to ...,115,13.9,"[finally, transparant, silicon, case, thanks, ...",finally transparant silicon case thanks uncle ...
2,3,we love this would you go talk makememories un...,109,16.5,"[love, would, go, talk, makememories, unplug, ...",love would go talk makememories unplug relax i...
3,4,im wired i know im george i was made that way ...,96,17.7,"[im, wired, know, im, george, made, way, iphon...",im wired know im george made way iphone cute d...
4,5,what amazing service apple wont even talk to m...,102,4.9,"[amazing, service, apple, wont, even, talk, qu...",amazing service apple wont even talk question ...

In [17]:
from sklearn.feature_extraction.text import CountVectorizer

In [18]:
count_vect=CountVectorizer(analyzer=clean_text)
X_counts=count_vect.fit_transform(final_dataset["tweet_lemmatized"])
print(X_counts.shape)

(9873, 25093)

In [19]:
X_counts=count_vect.fit_transform(train["tweet_lemmatized"])
ts_counts=count_vect.fit_transform(test["tweet_lemmatized"])

In [20]:
X_counts

<7920x20535 sparse matrix of type '<class 'numpy.int64'>'
	with 91176 stored elements in Compressed Sparse Row format>

In [21]:
X_counts_df=pd.DataFrame(X_counts.toarray())
ts_counts_df=pd.DataFrame(X_counts.toarray())

#X_counts_df.columns=count_vect.get_feature_names()
X_counts_df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,20525,20526,20527,20528,20529,20530,20531,20532,20533,20534
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# adding the tweet length and punct% column to the  vectorized dataset
a=pd.DataFrame(np.array(final_dataset['tweet_length']).reshape(-1,1),columns=["tweet_length"])
b=pd.DataFrame(np.array(final_dataset['punct%']).reshape(-1,1),columns=["punct%"])
final_dataset1= pd.concat([a,b,X_counts_df],axis=1)

In [23]:
# adding the tweet length and punct% column to the  vectorized dataset
a=pd.DataFrame(np.array(train['tweet_length']).reshape(-1,1),columns=["tweet_length"])
b=pd.DataFrame(np.array(train['punct%']).reshape(-1,1),columns=["punct%"])
final_dataset1= pd.concat([a,b,X_counts_df],axis=1)

In [24]:
# adding the tweet length and punct% column to the  vectorized dataset
a=pd.DataFrame(np.array(test['tweet_length']).reshape(-1,1),columns=["tweet_length"])
b=pd.DataFrame(np.array(test['punct%']).reshape(-1,1),columns=["punct%"])
final_ts= pd.concat([a,b,X_counts_df],axis=1)

In [25]:
# final dataset for fitting ML model
final_dataset1.head()

,tweet_length,punct%,0,1,2,3,4,5,6,7,...,20525,20526,20527,20528,20529,20530,20531,20532,20533,20534
0,116,13.8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,115,13.9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,109,16.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,96,17.7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,102,4.9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
# splitting the dataset into train and test as we specified above.
final_train=final_dataset1.iloc[0:7920,:]
final_test=final_dataset1.iloc[7920:,:]

In [27]:
# creating object of the model
rf = RandomForestClassifier(n_jobs=-1,n_estimators=300)

In [28]:
final_train.dropna(inplace=True)

In [29]:
# fitting the model
rf.fit(final_train,label['label'])

RandomForestClassifier(n_estimators=300, n_jobs=-1)

In [30]:
final_ts.isnull().sum()
final_ts.dropna(inplace=True)

In [31]:
# predicting on test dataset
y_pred=rf.predict(final_ts )
y_pred=pd.DataFrame(y_pred)
y_pred.head()

   0
0  0
1  0
2  0
3  0
4  1

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(analyzer=clean_text)
x_tfidf=tfidf.fit_transform(final_dataset["tweet_lemmatized"])
print(x_tfidf.shape)

(9873, 25093)

In [33]:
# in order to print the matrix we have to convert it to array
x_tfidf_df=pd.DataFrame(x_tfidf.toarray())
#x_tfidf_df.columns=tfidf.get_feature_names()
x_tfidf_df.head()

,0,1,2,3,4,5,6,7,8,9,...,25083,25084,25085,25086,25087,25088,25089,25090,25091,25092
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
# adding the tweet length and punct% column to the  vectorized dataset
a=pd.DataFrame(np.array(final_dataset['tweet_length']).reshape(-1,1))
b=pd.DataFrame(np.array(final_dataset['punct%']).reshape(-1,1))

In [35]:
final_dataset1= pd.concat([a,b,x_tfidf_df],axis=1)

In [36]:
# final dataset for fitting ML model
final_dataset1.head()

,0,0,0,1,2,3,4,5,6,7,...,25083,25084,25085,25086,25087,25088,25089,25090,25091,25092
0,116,13.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,115,13.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,109,16.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,96,17.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,102,4.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
# splitting the dataset into train and test as we specified above.
final_train=final_dataset1.iloc[0:7920,:]
final_test=final_dataset1.iloc[7920:,:]

In [38]:
# creating object of the model
rf = RandomForestClassifier(n_jobs=-1,n_estimators=300)

In [39]:
# fitting the model
rf.fit(final_train,label['label'])

RandomForestClassifier(n_estimators=300, n_jobs=-1)

In [48]:
# predicting on test dataset
y_pred=rf.predict(final_test)
y_pred=pd.DataFrame(y_pred)
y_pred.head()

   0
0  1
1  0
2  1
3  1
4  1

In [49]:
print(y_pred.to_string())

      0
0     1
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    1
18    1
19    0
20    0
21    0
22    0
23    0
24    1
25    0
26    0
27    0
28    1
29    0
30    1
31    0
32    0
33    0
34    0
35    1
36    1
37    0
38    0
39    0
40    0
41    0
42    0
43    1
44    0
45    0
46    0
47    0
48    0
49    1
50    1
51    0
52    0
53    0
54    1
55    0
56    1
57    0
58    0
59    1
60    0
61    0
62    0
63    0
64    0
65    0
66    0
67    1
68    0
69    1
70    0
71    0
72    0
73    0
74    1
75    0
76    0
77    0
78    0
79    1
80    0
81    0
82    0
83    1
84    0
85    1
86    0
87    0
88    0
89    0
90    0
91    0
92    0
93    0
94    1
95    1
96    1
97    0
98    1
99    1
100   1
101   0
102   0
103   1
104   0
105   1
106   1
107   0
108   0
109   0
110   0
111   0
112   0
113   0
114   1
115   0
116   0
117   0
118   0
119   1
120   0
121   1
122   0
123   0
124   0
125   0
126   0
127   1
128   1
129   0
130   1
131   1
132   0
133   0
134   1
135   0
136   0
137   0
138   0
139   0
140   0
141   0
142   0
143   0
144   1
145   1
146   0
147   0
148   0
149   0
150   0
151   0
152   1
153   0
154   0
155   0
156   0
157   0
158   0
159   1
160   0
161   1
162   0
163   0
164   0
165   0
166   1
167   0
168   0
169   1
170   0
171   0
172   0
173   0
174   0
175   0
176   0
177   1
178   0
179   0
180   0
181   0
182   1
183   0
184   0
185   0
186   1
187   0
188   0
189   0
190   0
191   1
192   0
193   0
194   0
195   0
196   0
197   0
198   0
199   0
200   0
201   0
202   0
203   0
204   0
205   1
206   0
207   0
208   0
209   0
210   0
211   1
212   0
213   0
214   0
215   0
216   0
217   0
218   1
219   1
220   0
221   0
222   0
223   0
224   0
225   1
226   0
227   0
228   0
229   0
230   0
231   0
232   0
233   0
234   0
235   0
236   1
237   0
238   1
239   1
240   0
241   0
242   0
243   1
244   1
245   0
246   0
247   1
248   0
249   0
250   0
251   0
252   0
253   0
254   1
255   0
256   0
257   0
258   0
259   0
260   0
261   0
262   0
263   1
264   0
265   0
266   0
267   0
268   0
269   0
270   0
271   0
272   0
273   0
274   0
275   1
276   0
277   1
278   0
279   1
280   1
281   0
282   0
283   0
284   0
285   0
286   1
287   0
288   0
289   0
290   0
291   0
292   1
293   0
294   0
295   0
296   0
297   0
298   1
299   0
300   0
301   0
302   0
303   1
304   0
305   0
306   1
307   0
308   1
309   0
310   0
311   1
312   1
313   0
314   0
315   1
316   0
317   0
318   0
319   0
320   0
321   0
322   0
323   0
324   1
325   1
326   0
327   0
328   1
329   0
330   0
331   1
332   0
333   0
334   1
335   0
336   1
337   0
338   1
339   0
340   0
341   0
342   0
343   0
344   0
345   1
346   0
347   0
348   0
349   1
350   0
351   0
352   1
353   0
354   0
355   0
356   0
357   0
358   0
359   0
360   0
361   0
362   0
363   0
364   1
365   0
366   0
367   1
368   0
369   0
370   0
371   0
372   0
373   0
374   1
375   0
376   1
377   1
378   0
379   0
380   0
381   0
382   0
383   1
384   1
385   1
386   1
387   0
388   0
389   0
390   1
391   0
392   0
393   0
394   0
395   0
396   0
397   0
398   0
399   1
400   0
401   0
402   0
403   1
404   0
405   0
406   0
407   0
408   0
409   0
410   0
411   0
412   0
413   0
414   0
415   1
416   0
417   0
418   0
419   0
420   0
421   0
422   0
423   0
424   0
425   0
426   0
427   0
428   0
429   0
430   0
431   0
432   0
433   0
434   1
435   1
436   0
437   0
438   0
439   0
440   0
441   0
442   0
443   0
444   0
445   0
446   0
447   0
448   0
449   1
450   0
451   0
452   1
453   0
454   0
455   0
456   0
457   0
458   0
459   0
460   0
461   0
462   0
463   0
464   0
465   0
466   1
467   0
468   0
469   0
470   0
471   0
472   0
473   0
474   0
475   0
476   0
477   0
478   0
479   0
480   0
481   0
482   0
483   1
484   0
485   0
486   1
487   1
488   1
489   0
490   0
491   0
492   0
493   0
494   1
495   0
496   1
497   0
498   0
499   0
500   0
501   1
502   0
503   1
504   0
505   0
506   1
507   1
508   0
509   1
510   0
511   0
512   0
513   0
514   0
515   0
516   0
517   0
518   0
519   1
520   0
521   1
522   0
523   1
524   0
525   0
526   1
527   1
528   0
529   0
530   0
531   1
532   0
533   0
534   1
535   0
536   0
537   1
538   0
539   0
540   0
541   0
542   0
543   0
544   0
545   0
546   0
547   0
548   0
549   1
550   0
551   1
552   1
553   0
554   1
555   0
556   0
557   1
558   1
559   0
560   1
561   0
562   0
563   0
564   0
565   0
566   0
567   0
568   0
569   1
570   1
571   0
572   0
573   0
574   1
575   0
576   1
577   0
578   0
579   0
580   0
581   1
582   1
583   1
584   0
585   0
586   0
587   0
588   0
589   0
590   0
591   0
592   0
593   0
594   1
595   0
596   0
597   1
598   0
599   0
600   0
601   0
602   0
603   0
604   0
605   1
606   0
607   0
608   0
609   1
610   0
611   0
612   0
613   0
614   0
615   0
616   0
617   0
618   0
619   0
620   1
621   0
622   0
623   0
624   0
625   0
626   0
627   0
628   1
629   0
630   0
631   0
632   0
633   1
634   0
635   1
636   1
637   0
638   1
639   0
640   0
641   1
642   0
643   0
644   1
645   1
646   0
647   0
648   0
649   1
650   1
651   0
652   1
653   0
654   0
655   0
656   0
657   1
658   0
659   0
660   0
661   0
662   0
663   0
664   0
665   0
666   1
667   0
668   0
669   0
670   0
671   0
672   0
673   0
674   0
675   0
676   0
677   0
678   1
679   1
680   0
681   0
682   0
683   1
684   0
685   0
686   0
687   0
688   0
689   0
690   1
691   1
692   0
693   1
694   0
695   0
696   0
697   1
698   0
699   0
700   0
701   0
702   0
703   0
704   0
705   1
706   1
707   0
708   0
709   0
710   0
711   0
712   1
713   0
714   0
715   0
716   1
717   0
718   0
719   0
720   0
721   0
722   0
723   0
724   1
725   0
726   1
727   0
728   0
729   0
730   0
731   1
732   0
733   0
734   0
735   0
736   0
737   0
738   0
739   0
740   0
741   0
742   0
743   0
744   1
745   0
746   1
747   0
748   0
749   0
750   0
751   1
752   0
753   0
754   0
755   0
756   0
757   0
758   0
759   0
760   1
761   0
762   0
763   0
764   0
765   0
766   0
767   0
768   1
769   0
770   1
771   0
772   0
773   0
774   1
775   0
776   0
777   0
778   1
779   0
780   0
781   0
782   0
783   1
784   0
785   0
786   0
787   0
788   0
789   1
790   0
791   0
792   0
793   0
794   0
795   1
796   0
797   0
798   0
799   0
800   1
801   1
802   0
803   0
804   0
805   1
806   0
807   0
808   1
809   1
810   0
811   0
812   1
813   0
814   0
815   1
816   0
817   1
818   0
819   0
820   1
821   1
822   0
823   0
824   1
825   0
826   1
827   0
828   0
829   1
830   0
831   0
832   0
833   1
834   1
835   0
836   0
837   0
838   0
839   0
840   1
841   0
842   0
843   1
844   0
845   0
846   1
847   1
848   0
849   0
850   1
851   0
852   0
853   1
854   0
855   0
856   0
857   0
858   0
859   0
860   0
861   1
862   0
863   0
864   0
865   0
866   0
867   1
868   1
869   0
870   0
871   0
872   1
873   0
874   0
875   0
876   0
877   0
878   0
879   0
880   0
881   0
882   0
883   1
884   0
885   0
886   0
887   0
888   0
889   1
890   0
891   1
892   1
893   0
894   0
895   1
896   0
897   0
898   0
899   1
900   0
901   0
902   1
903   0
904   0
905   0
906   0
907   0
908   0
909   1
910   1
911   0
912   0
913   0
914   0
915   0
916   1
917   1
918   0
919   0
920   0
921   1
922   0
923   0
924   1
925   0
926   1
927   0
928   0
929   1
930   0
931   0
932   0
933   0
934   0
935   0
936   0
937   0
938   0
939   0
940   0
941   0
942   0
943   0
944   0
945   0
946   0
947   1
948   1
949   0
950   0
951   0
952   1
953   0
954   0
955   0
956   0
957   0
958   1
959   0
960   0
961   0
962   0
963   0
964   1
965   0
966   1
967   1
968   0
969   1
970   0
971   1
972   0
973   0
974   0
975   0
976   1
977   1
978   0
979   0
980   0
981   0
982   1
983   0
984   0
985   0
986   0
987   0
988   0
989   0
990   0
991   0
992   0
993   0
994   1
995   1
996   1
997   0
998   0
999   0
1000  0
1001  0
1002  0
1003  0
1004  1
1005  1
1006  1
1007  0
1008  0
1009  0
1010  0
1011  1
1012  1
1013  1
1014  0
1015  1
1016  0
1017  0
1018  1
1019  0
1020  1
1021  0
1022  0
1023  0
1024  0
1025  0
1026  0
1027  1
1028  0
1029  0
1030  0
1031  0
1032  0
1033  0
1034  0
1035  0
1036  0
1037  1
1038  1
1039  0
1040  0
1041  0
1042  0
1043  0
1044  0
1045  1
1046  0
1047  0
1048  1
1049  0
1050  0
1051  0
1052  0
1053  0
1054  0
1055  0
1056  0
1057  0
1058  1
1059  0
1060  0
1061  0
1062  1
1063  0
1064  0
1065  0
1066  0
1067  0
1068  0
1069  0
1070  0
1071  0
1072  0
1073  0
1074  0
1075  0
1076  0
1077  0
1078  0
1079  1
1080  0
1081  0
1082  0
1083  0
1084  1
1085  1
1086  0
1087  0
1088  0
1089  0
1090  0
1091  0
1092  1
1093  0
1094  1
1095  0
1096  0
1097  0
1098  0
1099  0
1100  0
1101  1
1102  1
1103  0
1104  0
1105  0
1106  0
1107  0
1108  0
1109  0
1110  0
1111  0
1112  0
1113  1
1114  0
1115  0
1116  0
1117  0
1118  0
1119  0
1120  0
1121  1
1122  0
1123  0
1124  0
1125  0
1126  0
1127  0
1128  0
1129  0
1130  0
1131  0
1132  0
1133  0
1134  0
1135  0
1136  0
1137  0
1138  0
1139  1
1140  0
1141  0
1142  1
1143  0
1144  0
1145  0
1146  1
1147  0
1148  1
1149  0
1150  0
1151  1
1152  0
1153  1
1154  1
1155  0
1156  1
1157  0
1158  1
1159  0
1160  0
1161  1
1162  0
1163  1
1164  0
1165  0
1166  0
1167  0
1168  0
1169  0
1170  0
1171  0
1172  1
1173  0
1174  0
1175  0
1176  0
1177  0
1178  0
1179  1
1180  0
1181  0
1182  0
1183  1
1184  0
1185  1
1186  0
1187  0
1188  0
1189  0
1190  0
1191  1
1192  0
1193  0
1194  0
1195  0
1196  0
1197  0
1198  1
1199  1
1200  1
1201  0
1202  1
1203  0
1204  0
1205  0
1206  0
1207  0
1208  0
1209  0
1210  0
1211  0
1212  0
1213  0
1214  0
1215  1
1216  0
1217  0
1218  1
1219  0
1220  1
1221  0
1222  0
1223  0
1224  1
1225  0
1226  0
1227  0
1228  1
1229  0
1230  0
1231  0
1232  0
1233  0
1234  1
1235  0
1236  0
1237  0
1238  0
1239  0
1240  0
1241  0
1242  1
1243  1
1244  0
1245  1
1246  0
1247  0
1248  0
1249  0
1250  0
1251  1
1252  1
1253  0
1254  1
1255  1
1256  0
1257  0
1258  1
1259  0
1260  0
1261  0
1262  1
1263  0
1264  0
1265  0
1266  0
1267  0
1268  0
1269  0
1270  0
1271  0
1272  1
1273  0
1274  0
1275  1
1276  1
1277  0
1278  1
1279  0
1280  1
1281  0
1282  0
1283  0
1284  0
1285  0
1286  1
1287  0
1288  0
1289  1
1290  0
1291  0
1292  0
1293  1
1294  0
1295  1
1296  0
1297  1
1298  0
1299  0
1300  0
1301  0
1302  0
1303  0
1304  1
1305  0
1306  0
1307  0
1308  1
1309  1
1310  0
1311  0
1312  0
1313  1
1314  0
1315  0
1316  0
1317  0
1318  0
1319  0
1320  0
1321  0
1322  1
1323  1
1324  0
1325  0
1326  0
1327  1
1328  0
1329  1
1330  1
1331  0
1332  0
1333  0
1334  0
1335  0
1336  0
1337  0
1338  0
1339  0
1340  0
1341  1
1342  0
1343  0
1344  0
1345  0
1346  0
1347  0
1348  1
1349  1
1350  0
1351  0
1352  1
1353  0
1354  1
1355  0
1356  0
1357  0
1358  0
1359  0
1360  1
1361  0
1362  0
1363  0
1364  0
1365  0
1366  0
1367  0
1368  1
1369  0
1370  0
1371  0
1372  0
1373  0
1374  1
1375  0
1376  0
1377  1
1378  0
1379  0
1380  0
1381  0
1382  0
1383  0
1384  0
1385  0
1386  0
1387  1
1388  0
1389  0
1390  1
1391  0
1392  0
1393  1
1394  0
1395  0
1396  0
1397  0
1398  0
1399  0
1400  0
1401  0
1402  0
1403  0
1404  0
1405  0
1406  1
1407  0
1408  0
1409  0
1410  1
1411  1
1412  0
1413  1
1414  0
1415  0
1416  0
1417  0
1418  0
1419  0
1420  0
1421  0
1422  0
1423  0
1424  0
1425  0
1426  0
1427  0
1428  1
1429  1
1430  0
1431  1
1432  0
1433  0
1434  1
1435  0
1436  0
1437  0
1438  0
1439  1
1440  0
1441  0
1442  0
1443  0
1444  1
1445  0
1446  0
1447  0
1448  0
1449  1
1450  0
1451  1
1452  0
1453  1
1454  0
1455  0
1456  1
1457  0
1458  1
1459  0
1460  0
1461  1
1462  0
1463  1
1464  0
1465  0
1466  1
1467  0
1468  0
1469  0
1470  1
1471  0
1472  0
1473  0
1474  1
1475  0
1476  1
1477  1
1478  0
1479  1
1480  0
1481  0
1482  0
1483  0
1484  0
1485  0
1486  1
1487  0
1488  0
1489  0
1490  0
1491  0
1492  0
1493  0
1494  0
1495  0
1496  0
1497  0
1498  0
1499  1
1500  0
1501  0
1502  1
1503  0
1504  0
1505  0
1506  0
1507  0
1508  0
1509  0
1510  0
1511  1
1512  1
1513  0
1514  0
1515  0
1516  0
1517  1
1518  1
1519  0
1520  1
1521  0
1522  0
1523  0
1524  0
1525  0
1526  1
1527  0
1528  0
1529  0
1530  1
1531  0
1532  0
1533  1
1534  0
1535  0
1536  0
1537  1
1538  0
1539  0
1540  0
1541  0
1542  0
1543  1
1544  0
1545  0
1546  1
1547  0
1548  0
1549  1
1550  1
1551  0
1552  1
1553  0
1554  1
1555  0
1556  1
1557  1
1558  0
1559  0
1560  1
1561  0
1562  0
1563  1
1564  0
1565  1
1566  1
1567  1
1568  0
1569  0
1570  0
1571  0
1572  1
1573  0
1574  0
1575  0
1576  1
1577  0
1578  0
1579  0
1580  1
1581  1
1582  0
1583  0
1584  0
1585  1
1586  0
1587  0
1588  0
1589  0
1590  0
1591  0
1592  0
1593  0
1594  0
1595  0
1596  0
1597  0
1598  0
1599  0
1600  0
1601  0
1602  0
1603  0
1604  0
1605  1
1606  0
1607  0
1608  0
1609  0
1610  0
1611  1
1612  0
1613  0
1614  0
1615  0
1616  0
1617  0
1618  0
1619  0
1620  1
1621  0
1622  0
1623  1
1624  0
1625  0
1626  1
1627  1
1628  0
1629  0
1630  0
1631  0
1632  0
1633  1
1634  0
1635  0
1636  0
1637  1
1638  0
1639  0
1640  0
1641  0
1642  0
1643  1
1644  0
1645  0
1646  0
1647  0
1648  0
1649  0
1650  0
1651  0
1652  0
1653  0
1654  0
1655  0
1656  0
1657  0
1658  0
1659  0
1660  0
1661  0
1662  0
1663  0
1664  0
1665  0
1666  0
1667  0
1668  0
1669  0
1670  0
1671  0
1672  0
1673  0
1674  0
1675  0
1676  0
1677  0
1678  0
1679  0
1680  0
1681  1
1682  1
1683  0
1684  0
1685  0
1686  0
1687  1
1688  0
1689  0
1690  1
1691  0
1692  0
1693  0
1694  0
1695  0
1696  0
1697  0
1698  0
1699  0
1700  0
1701  0
1702  0
1703  0
1704  0
1705  0
1706  0
1707  0
1708  1
1709  0
1710  0
1711  0
1712  1
1713  0
1714  0
1715  0
1716  0
1717  0
1718  1
1719  1
1720  0
1721  1
1722  0
1723  0
1724  1
1725  1
1726  0
1727  0
1728  0
1729  0
1730  1
1731  1
1732  0
1733  0
1734  1
1735  1
1736  0
1737  0
1738  0
1739  0
1740  1
1741  1
1742  0
1743  0
1744  0
1745  0
1746  1
1747  0
1748  0
1749  1
1750  0
1751  0
1752  1
1753  0
1754  0
1755  0
1756  1
1757  1
1758  0
1759  0
1760  0
1761  0
1762  0
1763  0
1764  1
1765  0
1766  0
1767  0
1768  0
1769  1
1770  1
1771  1
1772  1
1773  0
1774  0
1775  1
1776  0
1777  0
1778  0
1779  1
1780  0
1781  1
1782  1
1783  0
1784  0
1785  1
1786  1
1787  0
1788  0
1789  1
1790  0
1791  0
1792  1
1793  0
1794  1
1795  0
1796  1
1797  0
1798  0
1799  0
1800  0
1801  0
1802  0
1803  0
1804  0
1805  0
1806  0
1807  0
1808  0
1809  0
1810  0
1811  0
1812  0
1813  0
1814  0
1815  0
1816  1
1817  0
1818  0
1819  0
1820  1
1821  1
1822  0
1823  1
1824  1
1825  0
1826  0
1827  0
1828  0
1829  0
1830  0
1831  0
1832  1
1833  0
1834  0
1835  0
1836  0
1837  1
1838  0
1839  0
1840  1
1841  0
1842  0
1843  0
1844  0
1845  1
1846  1
1847  0
1848  0
1849  0
1850  1
1851  0
1852  0
1853  0
1854  0
1855  0
1856  0
1857  1
1858  0
1859  0
1860  0
1861  0
1862  0
1863  1
1864  0
1865  0
1866  0
1867  1
1868  0
1869  0
1870  0
1871  0
1872  0
1873  0
1874  0
1875  0
1876  0
1877  0
1878  0
1879  0
1880  0
1881  1
1882  1
1883  1
1884  0
1885  0
1886  0
1887  1
1888  1
1889  0
1890  1
1891  1
1892  1
1893  1
1894  0
1895  0
1896  0
1897  0
1898  1
1899  0
1900  0
1901  0
1902  0
1903  0
1904  1
1905  1
1906  0
1907  1
1908  0
1909  1
1910  0
1911  0
1912  0
1913  0
1914  0
1915  0
1916  0
1917  0
1918  1
1919  0
1920  1
1921  0
1922  0
1923  0
1924  0
1925  1
1926  0
1927  0
1928  0
1929  0
1930  1
1931  1
1932  0
1933  0
1934  0
1935  0
1936  0
1937  0
1938  0
1939  0
1940  0
1941  0
1942  1
1943  0
1944  0
1945  0
1946  0
1947  0
1948  0
1949  0
1950  1
1951  1
1952  0

In [50]:
y_pred.index=range(7921,9874)
y_pred.columns=["label"]
# set the name of the index
y_pred.index.name = 'id'

In [51]:
print(y_pred.head())

      label
id
7921      1
7922      0
7923      1
7924      1
7925      1

In [52]:
y_pred.to_csv('Sample Submession.csv')